@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home - Index";
}

<div class="entriesContainer">
    @foreach (var entry in Model.Entries)
    {
        <div class="entryContainer">
            @switch (entry.Type)
            {
                case EntryModelType.File:
                    <div class="entryTitle">
                        <span>@entry.Name</span>
                        @if (entry.Size != null)
                        {
                            <span class="entrySize">(@entry.Size)</span>
                        }
                    </div>
                    @if (entry.IsConvertible)
                    {
                        <a 
                            class="entryAction"
                            href="/convert@(entry.Url)"
                        >Convert</a>
                    }
                    <a 
                        class="entryAction"
                        href="/download@(entry.Url)"
                    >Download</a>
                    break;
                default:
                    <a 
                        class="entryName"
                        href="@entry.Url"
                    >@entry.Name</a>
                    break;
            }
        </div>
    }
</div>