.entriesContainer {
    display: flex;
    flex-direction: column;
}

.entryContainer {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    padding: 5px;
}

.entryTitle {
    margin-right: auto;
}

.entrySize {
    opacity: .6;
    font-style: italic;
}

.entryAction {
    margin-right: 5px;
}

.entryAction:last-child {
    margin-right: 0;
}